<div id="login-box" class="login">
  <div id="login-box-top">
    <h1 id="login-logo">
      <a href="{{ url('<front>') }}">
        <img src="{{ login_logo }}" alt="{{ site_name }}" />
      </a>
    </h1>
  </div>

  <div id="login-box-middle">
    {{ messages }}

    {{ page.content }}
  </div>

  <div id="login-box-bottom">
    <div class="password-link">
      <a href="{{ path('user.pass') }}">{{ 'Forgot your password?'|t }}</a>
    </div>

    {# 
    <div class="register_link">
      <a href="{{ path('user.register') }}">{{ 'Register a new account'|t }}</a> 
    </div>
    #}

    <div class="back-link">
      <a href="{{ url('<front>') }}">&larr; {{ 'Back'|t }} {{ site_name }}</a> 
    </div>
  </div>
</div>
