<div id="auth_box" class="password">
  <div id="top_part">
    <h1 id="the_logo">
      <a href="{{ url('<front>') }}">
        <img src="{{ logo }}" alt="{{ site_name }}" />
      </a>
    </h1>
  </div>

  <div id="middle_part">
    <h2 class="title">{{ title }}</h2>

    {{ page.highlighted }}
    {{ messages }}

    {{ page.content }}
  </div>

  <div id="bottom_part">
    <div class="login_link">
      <a href="{{ path('user.login') }}">{{ 'Login'|t }}</a>
    </div>

    <div class="register_link">
      <a href="{{ path('user.register') }}">{{ 'Register a new account'|t }}</a>
    </div>

    <div class="back_link">
      <a href="{{ url('<front>') }}">&larr; {{ 'Back'|t }} {{ site_name }}</a>
    </div>
  </div>
</div>
